header {
  background-color: black;
  outline-color: yellow;
  color: yellow;
}
footer {
  background-color: yellow;
}
main
{
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  opacity: 0;
}
.answer
{
  display: none;
}
.show
{
  display: block;
}
@media(max-width:700px)
{
  main
  {
    /* width:50%; */
    font-size: small;
  }
  img
  {
    width: 90%;
  }
}
@media(max-width:400px)
{
  main,h5
  {
    /* width:50%; */
    font-size: x-small;
    
    /* padding: 100px; */
  }
  h5
  {
    font-weight: bold;
  }
  h2
  {
    font-size: medium; 
    font-weight: bold;
  }
  img
  {
    width: 90%;
  }

}